html {
    /* Reset para rems */
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/*HEADER */
header{
    color: white;
    font-family:'FFDIN Regular',FFDIN,Arial,sans-serif;
}

.navbar a {
    margin-right: 3rem; 
}


.contenedor_barracafe {
    width: 100%;
    height: 4.2rem;
    text-align: center;
    background-color: rgb(174, 148, 109);
}

.barra_cafeclaro {
    padding: 1.5rem;
}

.barra_cafeclaro p {
    margin: 0;
    font-size: 1.4rem;
}

.contenedor-nav {
    width: 100%; 
    height: 7rem;
    background-color:#181818
}

.navbar1 {
    display: flex; 
    justify-content: space-between; 
    padding: 0 2rem;
    align-items: center; 
}

.navbar1 a {
    text-decoration: none;
    font-size: 1.7rem;
    margin-right: 2rem;
    color: white;
}

.navbar1 img{
    width: 5.5rem;
    height: 6rem;
}

.navbar1 input{
    display: inline-block;
    padding: 10px 20px;
    font-size: 14px;
    background-color: #181818; 
    border: solid #555; 
    border-radius: 0.5rem;
}

.navbar1 input:hover {
    background-color: #555;
}

.navbar2 i{
    font-size: 2.5rem;
}

.contenedor-barra-amarilla{
    width: 100%;
    height: 8rem;
    background-color: #FFAE16;
    display: flex;
    justify-content: center;
    align-items: center;
}

.texto-barra-amarilla h1 {
    text-align: center;
    margin-top: 1rem;
    font: 2rem;
}

.texto-barra-amarilla p{
    text-align: center;
    font-size: 1.2rem;
}

.contenedor-imagen{
    background-image: url(../img/rihanna-foto.png);
    width: 100%;
    height: 50rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
}

.contenedor-imagen h1{
    font-size: 5.5rem;
}

.contenedor-imagen p{
    font-size: 2rem;
}

.contenedor-imagen button{
    font-size: 1.2rem;
    background-color: white;
    color: #000;
    width: 50%;
    height: 4rem;
    border: none;
    font-weight: bold;
}

.cubo{
    margin-left: 8rem;
}

/*HEADER*/

/*COMIENZO BODY*/

.contenedor-main1 img,.contenedor-main2 img, .contenedor-main3 img, .contenedor-main4 img{
    width: 24rem;
}

.Titulo-main1{
    font-size: 1.4rem;
    text-align: center;
    font-family:'FFDIN Regular',FFDIN,Arial,sans-serif;
    color: #222;
}

.contenedor-main1 p, .contenedor-main2 p ,.contenedor-main3 p, .contenedor-main4 p{
    font-size: 1.5rem;
    font-family:'FFDIN Regular',FFDIN,Arial,sans-serif;
    color: #444;
}

.contenedor-main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor-main1,.contenedor-main2,.contenedor-main3{
    margin-right: 3rem;

}

.precio{
    text-align: center;
    font-weight: bold;
    font-size: 1.3rem;
}

.btn{
    background-color:white;
    color: #444;
    border: none;
    font-size: 8rem;
    margin-right: 4rem;
    margin-left: 3rem;
}

.titulo-main2 h1{
    font-size: 5rem;
    text-align: center;
    font-family:'FFDIN Regular',FFDIN,Arial,sans-serif;
    color: #222;
}

.texto-main2{
    font-size: 2rem;
    font-family:'FFDIN Regular',FFDIN,Arial,sans-serif;
    text-align: center;
    font-weight: bold;
}

.fv{
    font-size: 1.5rem;
    font-family:'FFDIN Regular',FFDIN,Arial,sans-serif;
    text-align: center;
    font-weight: bold;
}

.fv button{
    font-size: 1.2rem;
    background-color: white;
    color: #222;
    width: 20rem;
    height: 5rem;
    font-weight: bold;

}

.deportistas img{
    width: 50.64rem;
    height: 49rem;
}

.deportistas{
    margin-top: 4.5rem;
    display: flex;
    flex-wrap: wrap;
}

.deportistas h3{
    text-align: center;
    font-size: 2.2rem;
    font-family:'FFDIN Regular',FFDIN,Arial,sans-serif;
}

.deportistas button{
    font-size: 1.2rem;
    background-color:black;
    color: white;
    width: 20rem;
    height: 4rem;
    font-weight: bold;
    font-family:'FFDIN Regular',FFDIN,Arial,sans-serif;
    margin-left: 15rem;
    border: none;
}

/*TERMINO BODY*/

/*COMIENZO FOOTER */

.contenedor-footer{
    background-color: #181818;
    width: 100%;
    height: 70rem;
    margin-top: 3rem;
}

.contenedor-footer img{
    width: 6rem;
    height: 5rem;
    margin-left: 3.2rem;
    margin-top: 14rem;
}

.contenedor-footer p{
    color: white;
    font-size: 1.4rem;
    font-family:'FFDIN Regular',FFDIN,Arial,sans-serif;
    margin-left: 4rem;
    margin-top: 7rem;
}

.contenedor-footer hr{
    width: 48rem;
    position: absolute;
    margin-left: 4rem;
}

/*AYUDA FOOTER*/
.lista1-footer a{
    text-decoration: none;
    color: #777;
    font-size: 1.5rem;
    font-family:'FFDIN Regular',FFDIN,Arial,sans-serif;
}

.lista2-footer a{
    text-decoration: none;
    color: #777;
    font-size: 1.5rem;
    font-family:'FFDIN Regular',FFDIN,Arial,sans-serif;
}

.ayuda-footer{
    width: 50rem;
    margin-left: 3.8rem;
    display: flex;
    justify-content: center;
}

.lista1-footer{
    width: 40rem;
}

.lista2-footer{
    margin-left: 1rem;
}

/*ACERCA DE FOOTER*/

.acerca-de-footer{
    width: 50rem;
    margin-left: 50rem;
    margin-top: -28.4rem;

}

.lista3-footer{
    width: 20rem;
    margin-left: 3.8rem;
}

.lista4-footer{
    width: 20rem;
    margin-left: 30rem;
    margin-top: -7rem;
}

.lista3-footer a{
    text-decoration: none;
    color: #777;
    font-size: 1.5rem;
    font-family:'FFDIN Regular',FFDIN,Arial,sans-serif;
}


.lista4-footer a{
    text-decoration: none;
    color: #777;
    font-size: 1.5rem;
    font-family:'FFDIN Regular',FFDIN,Arial,sans-serif;
}

.logos img{
    width: 2.2rem;
    height: 2.2rem;
    margin-right: 10rem;
    margin: 2rem;
    margin-top: 18rem;
}

.logos hr{
    width: 30rem;
    margin-top: 7.6rem;
    margin-left: 1.5rem;
}

.logos{
    width: 3rem;
    height: 1rem;
    display: flex;
    align-items: center;
    margin-top: -12rem;
    margin-left: 115rem;
}

/*CORREO ELECTRONICO FOOTER*/
.mensaje-inscripcion p{
    color: white;
    margin-top: -100;
}

.mensaje-inscripcion{
    display: flex;
    justify-content: flex-end;
    margin-right: 4.5rem;
    margin-top: -20rem;
    font-family:'FFDIN Regular',FFDIN,Arial,sans-serif;

}

.btn-correo{
    margin-left: 116rem;
}

.btn-correo input{
    width: 34rem;
    height: 4rem;
    display: inline-block;
    padding: 1rem 2rem;
    font-size: 1.4rem;
    background-color: #181818; 
    border: solid #555; 
    border-width: 0.1rem;
    font-family:'FFDIN Regular',FFDIN,Arial,sans-serif;
}

.footer2{
    margin-top: -10rem;
}

.footer2 hr{
    border-color: #444;
}

.copyright{
    text-align: center;
}

.copyright p{
    color: white;
    font-size: 1.2rem;
    font-family:'FFDIN Regular',FFDIN,Arial,sans-serif;
}

.tyc a{
    display: flex;
    justify-content: flex-end;
    margin-right: 5rem;
    color: #777;
    margin-top: -2.5rem;
    font-size: 1.3rem;
    font-family:'FFDIN Regular',FFDIN,Arial,sans-serif;
}

.seleccionar-pais{
    display: inline-block;
    background: #000;
    border-radius: 25px;
    padding: 0 15px;
    height: 30px;
    line-height: 30px;
    color: #fff;
    text-align: center;
}

.seleccionar-pais select{
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    width: 100%;
    height: 100%;
}


